URL_DB=postgresql+psycopg://postgres_user:postgres_password@url-db:5432/url_db
AUTH_DB=postgresql+psycopg://postgres_user:postgres_password@auth-db:5432/auth_db
PRIVATE_KEY_PATH=/app/secrets/private.pem
PUBLIC_KEY_PATH=/app/secrets/public.pem
TOKEN_HASH_KEY=
JWT_ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
POSTGRES_USER=
POSTGRES_PASSWORD=
max_capacity_auth_routes=
max_capacity_url_routes=
redis_host=redis
redis_port=6379