URL_DB=
AUTH_DB=
PRIVATE_KEY_PATH=/app/secrets/private.pem
PUBLIC_KEY_PATH=/app/secrets/public.pem
TOKEN_HASH_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
POSTGRES_USER=
POSTGRES_PASSWORD=